.box4{
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
}
.box1 img{
    width: 50%;
}
.box2{
    flex-basis: 20%;
}
.box3{
    flex-basis: 80%;
}